.thumbnail {
    flex: 0 1 30%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    background: rgb(27, 156, 252);
    background: linear-gradient(90deg, rgba(27, 156, 252, 1) 9%, rgba(5, 196, 107, 1) 100%);
    padding: 2.2px;
    margin-bottom: 4rem;
    &__img_container {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: 35rem;
    }
    &__img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 0.9;
    }
    &__content {
        padding: 2rem;
        background-color: #ecf0f1;
        padding-bottom: 2rem;
        position: relative;
    }
    &__name {
        font-size: 2rem;
        margin-bottom: 1.5rem;
    }
    &__type {
        font-size: 1.7rem;
    }
    &__link {
        position: absolute;
        bottom: 0;
        left: 2rem;
    }
    &__button {
        padding: 1.5rem 2rem;
        color: white;
        background: rgb(27, 156, 252);
        background: linear-gradient(90deg, rgba(27, 156, 252, 1) 9%, rgba(5, 196, 107, 1) 100%);
        text-decoration: none;
        border-radius: none;
        transition: all .3s;
        &:hover {
            transform: scale(1.1);
        }
    }
}

@media only screen and (max-width: 800px) {
    .thumbnail {
        flex: 0 1 47%;
    }
}

@media only screen and (max-width: 500px) {
    .thumbnail {
        flex: 0 1 100%;
    }
}