.topbar {
    background: rgb(27, 156, 252);
    background: linear-gradient(90deg, rgba(27, 156, 252, 1) 9%, rgba(5, 196, 107, 1) 100%);
    &__container {
        margin: 0 auto;
        display: flex;
        padding: 2rem 0;
        color: white;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        max-width: 120rem;
    }
    &__logo {
        font-size: 3.3rem;
        font-family: 'Nerko One', cursive;
        transition: all .3s;
        backface-visibility: hidden;
        cursor: pointer;
        &:hover {
            transform: scale(1.2);
        }
    }
    &__select {
        border: none;
        padding: 1rem;
        font-size: 1.6rem;
        font-family: inherit;
        &:focus,
        &:active {
            border: none;
            outline: none;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        padding: 0;
    }
    &__link {
        padding: 2rem;
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 600px) {
    .topbar {
        &__container {
            flex-direction: column;
        }
        &__rearch {
            order: 1;
        }
        &__form {
            order: 1;
        }
    }
}