.topbar {
    background: rgb(27, 156, 252);
    background: linear-gradient(90deg, rgba(27, 156, 252, 1) 9%, rgba(5, 196, 107, 1) 100%);
    &__container {
        margin: 0 auto;
        display: flex;
        padding: 2rem 0;
        color: white;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        max-width: 120rem;
    }
    &__logo {
        font-size: 2.8rem;
    }
    &__list {
        list-style: none;
        display: flex;
    }
    &__link {
        padding: 2rem;
        font-size: 1.8rem;
    }
}